@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-LightItalic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
.button-dark {
  border: 1px solid #0163d2;
  width: 200px;
  margin: 15px 0;
  padding: 10px;
  background-color: #0163d2;
  border-radius: 5px;
  color: #ffffff;
}
.button-light {
  border: 1px solid #0163d2;
  width: 200px;
  margin: 15px 0;
  padding: 10px;
  background: #e8edf1;
  border-radius: 5px;
  color: #0163d2;
}
.input-normal {
  height: 36px;
  border-radius: 3px;
  border: 1px solid #DBDBDB;
  background-color: #ffffff;
  width: 100%;
  font-size: 12px;
  padding: 5px 15px;
  color: #3E3E3E;
  margin: 5px 0;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: flex-start;
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
}
h1.title {
  margin-bottom: 30px;
  text-align: center;
}
.main {
  margin: 0;
}
.main .header {
  position: fixed;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  background-color: #062b48;
  z-index: 11;
  transition: all 0.5s linear;
}
.main .header .logo {
  padding: 10px 20px 20px 20px;
  margin: 5px 0px 5px 20px;
  width: 150px;
  background: linear-gradient(0deg, #ffffff 0%, #e8edf1 100%);
  border-radius: 50%;
}
.main .header .logo img {
  width: 100%;
}
.main .header-light {
  background: #062b4866 !important;
}
.main-body {
  padding-top: 80px;
}
.main-body .wrap-flex {
  display: flex;
  align-items: center;
}
.main-img {
  width: 60%;
}
.main-img img {
  width: 100%;
}
.main .phone-form {
  width: 40%;
  background-image: url('../images/main/phoneForm.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  right: 0px;
  top: 0px;
}
.main .phone-form__heading {
  padding: 40px 40px 10px 40px;
}
.main .phone-form__heading span {
  font-size: 26px;
  color: #fff;
  line-height: 20px;
  text-align: center;
}
.main .phone-form__heading span strong {
  margin-top: 10px;
  display: block;
}
.main .phone-form__call {
  display: flex;
  justify-content: center;
  font-style: italic;
  padding: 10px;
}
.main .phone-form__call a {
  line-height: 1;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
.main .phone-form__call a:hover {
  color: #fff;
  text-decoration: underline;
}
.main .phone-form__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  padding: 0 20px 40px 100px;
}
.servis {
  text-align: center;
  position: relative;
  margin: 80px;
}
.servis__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 100%;
}
.servis__content .circle-big {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 0;
  background-color: #ffffb5;
  transition: 1s;
  transform: translateX(-20px);
}
.servis__content .circle-big-active {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 0;
  background-color: #ffffb5;
  transform: translate(-40px, -30px);
}
.servis__content .circle-small {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  background-color: #97dcdc;
  top: 50%;
  left: 50%;
  transform: translate(-10px, -10px);
  transition: all ease-in 0.4s;
}
.servis__content .circle-small-active {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  background-color: #97dcdc;
  top: 50%;
  left: 50%;
  transform: translate(20px, 9px);
}
.servis__content .servis__content__tie__img {
  width: 160px;
  height: 150px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  margin-top: 5px;
  color: #4e4b4b;
  z-index: 2;
}
.servis__content .servis__content__tie__img img {
  position: relative;
  width: 100%;
}
.servis__content .servis__content__plane__img {
  width: 160px;
  height: 155px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 0px;
  color: #4e4b4b;
  z-index: 2;
}
.servis__content .servis__content__plane__img img {
  position: relative;
  width: 100%;
}
.servis__content .servis__content__car__img {
  width: 160px;
  height: 145px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 9px;
  padding: 20px 0;
  color: #4e4b4b;
  z-index: 2;
}
.servis__content .servis__content__car__img img {
  position: relative;
  width: 100%;
}
.servis__content span {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 700;
  display: block;
}
.calc .panel-group {
  border-radius: 10px;
  overflow: hidden;
}
.calc .panel-heading {
  padding: 14px ;
  background: #062b48;
  margin-top: 5px;
  cursor: pointer;
}
.calc .panel-heading .head-span {
  color: white;
}
.calc .panel-wait {
  display: flex;
  flex-direction: column;
}
.calc .panel-collapse {
  background: linear-gradient(0deg, #ffffff 0%, #e8edf1 100%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.calc .panel-collapse input {
  background-color: #ffcccc;
  border-radius: 10px;
  border: 1px solid #993333;
  outline: none;
}
.calc .panel-collapse .season-wrap {
  display: flex;
  align-items: center;
}
.calc .panel-collapse .distance {
  display: block;
  margin: 10px  0;
}
.calc .panel-collapse .choice {
  margin: 20px 0 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.calc .panel-collapse .choice span {
  font-weight: 900;
  font-size: 20px;
}
.calc .panel-collapse .time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 30px;
}
.calc .panel-collapse .time span {
  margin: 10px;
  text-align: center;
}
.calc .panel-collapse .quantity {
  margin: 10px 0;
}
.calc .panel-collapse .age {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 30px;
}
.calc .panel-collapse .age span {
  margin: 10px;
  text-align: center;
}
.calc .panel-collapse .amount__children {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  padding: 0px 30px;
}
.calc .panel-collapse .amount__children span {
  margin: 10px;
  text-align: center;
}
.calc .panel-collapse .img {
  margin: 20px;
  width: 50px;
  height: 50px;
}
.calc .panel-collapse .img img {
  width: 100%;
}
.calc .panel-collapse input.check-switch {
  display: none;
}
.calc .panel-collapse .check-switch:checked + .switch-label .switch-switch {
  right: 0;
  transform: translate(70px, 0px);
}
.calc .panel-collapse .check-switch:checked + .switch-label .switch-inner {
  margin-left: 0;
}
.calc .panel-collapse .onoffswitch {
  width: 100px;
  height: 30px;
  background-color: #ffcccc;
  border-radius: 15px;
  overflow: hidden;
}
.calc .panel-collapse .onoffswitch label.switch-label span.switch-inner {
  cursor: pointer;
  display: block;
  height: 100%;
  width: 200%;
  transition: all 0.3s ease-in 0s;
}
.calc .panel-collapse .onoffswitch label.switch-label span.switch-switch {
  position: relative;
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff6666;
  left: 0;
  z-index: 5;
  transform: translate(0px, 0px);
  transition: all 0.3s ease-in 0s;
}
.calc .calc-img {
  margin: 90px 0 0 60px ;
}
.calc .calc-img img {
  width: 100%;
}
.calc .calc-img .total {
  margin: 40px 0 0 20px;
}
.calc .calc-img .total input {
  border: none;
  background-color: #ffcccc;
  border-radius: 10px;
  margin: 0 0 0 15px;
}
.collapse-open {
  display: flex !important;
}
.wrapper {
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 0px 100px;
}
.wrapper .slider {
  padding: 0px 60px;
  position: relative;
}
.wrapper .slider .slick-slide {
  text-align: center;
}
.wrapper .slider__item:focus {
  outline: none;
}
.wrapper .slider .slick-prev {
  left: 0;
  background: url('../images/slider/previous.svg') 0 0% no-repeat;
  border: none;
  outline: none;
}
.wrapper .slider .slick-next {
  right: 0;
  background: url('../images/slider/right-arrow.svg') 0 0% no-repeat;
  border: none;
  outline: none;
}
.wrapper .slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}
.wrapper .slider .slick-list {
  overflow: hidden;
}
.wrapper .slider .slick-list .slick-track {
  display: flex;
}
.wrapper .slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}
.wrapper .slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 13px;
  background-color: #993333;
  border-radius: 50%;
  border: 1px solid #993333;
  outline: none;
}
.wrapper .slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #993333;
}
footer {
  margin-top: auto;
  background-color: #062b48;
  color: #ffffff;
}
footer .container .row {
  display: flex;
  justify-content: space-around;
}
footer .container .row .contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
}
footer .container .row .contacts h4 {
  margin: 15px;
}
footer .container .row .contacts__logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 13px;
}
footer .container .row .contacts__logos__item {
  margin: 2px;
  width: 20px;
}
footer .container .row .contacts__logos__item svg {
  width: 100%;
  height: 100%;
}
footer .container .row .contacts__logos a {
  color: #ffffff;
  margin-left: 4px;
}
footer .container .row .contacts a {
  color: #ffffff;
}
footer .container .row .contacts .alicante {
  margin-top: 15px;
}
footer .container .row .contacts .torrevieja {
  margin-bottom: 15px;
}
footer .container .row .rent {
  display: flex;
  flex-direction: column;
  align-items: start;
}
footer .container .row .rent h4 {
  margin: 15px;
}
footer .container .row .rent span {
  margin: 15px;
}
footer .container .row .rent a {
  margin-left: 13px;
  color: #ffffff;
}
footer .container .row .question {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .container .row .question h4 {
  margin: 15px;
}
footer .container .row .question .footer-question-number {
  margin-right: 45px;
  border: none;
  border-radius: 7px;
  margin-bottom: 10px;
}
footer .container .row .question .footer-question-input {
  border: none;
  border-radius: 7px;
  padding: 25px;
}
footer .container .futer-logo {
  width: 130px;
  margin: 20px 0;
}
footer .container .futer-logo img {
  width: 100%;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  z-index: 990;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 10px;
}
.popup__body .popup__content {
  border-radius: 10px;
  background-color: #ffcccc;
  color: #993333;
  max-width: 400px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__body .popup__content .popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #993333;
  text-decoration: none;
}
.popup__body .popup__content .popup__title {
  font-size: 30px;
  margin: 0 0 1em 0;
}
.popup__body .popup__content .popup__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.popup__body .popup__content .popup__text input {
  border-radius: 5px;
  border: none;
  padding: 5px 4px;
  margin: 0 0 10px 0;
}
.popup__body .popup__content .popup__text button {
  border-radius: 5px;
  border: none;
  background-color: #993333;
  color: white;
}
.popup .popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  z-index: 990;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.modal .popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 10px;
}
.modal .popup__body .popup__content {
  border-radius: 10px;
  background-color: #ffcccc;
  color: #993333;
  max-width: 400px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.modal .popup__body .popup__content .popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #993333;
  text-decoration: none;
}
.modal .popup__body .popup__content .popup__title {
  font-size: 30px;
  margin: 0 0 1em 0;
}
.modal .popup__body .popup__content .popup__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modal .popup__body .popup__content .popup__text input {
  border-radius: 5px;
  border: none;
  padding: 5px 4px;
  margin: 0 0 10px 0;
}
.modal .popup__body .popup__content .popup__text button {
  border-radius: 5px;
  border: none;
  background-color: #993333;
  color: white;
}
.modal .popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}
